<ul class="nav nav-tabs inner">
    <li ng-class="{active: parent.viewPath=='latest'}">
        <a href="/latest" title="最新文章">最新</a>
    </li>
    <li ng-class="{active: parent.viewPath=='hots'}">
        <a href="/hots" title="热门文章">热门</a>
    </li>
    <li ng-class="{active: parent.viewPath=='update'}">
        <a href="/update" title="最近更新文章">更新</a>
    </li>
    <li ng-class="{active: !parent.viewPath}" ng-show="other._id">
        <a ng-href="/{{other._id}}">{{other.title}}</a>
    </li>
    <div class="pure-button-group right">
    <!--<a href="/addSurvery" class="pure-button success-bg" ng-if="global.isEditor">发表量表</a>-->
        <a href="/add" class="pure-button success-bg" ng-if="global.isLogin">发表文章</a>
        <a class="pure-button list-model" title="{{parent.sumModel?'摘要模式':'简洁模式'}}" ng-if="!global.isPocket" ng-class="{'info-bg':parent.sumModel}" ng-click="setListModel()"><i class="fa fa-th-large"></i></a>
    </div>
</ul>
<!-- <ul class="list-inline inner">
    <li ng-repeat="tag in global.tagsList">
        <a ng-href="{{'/'+tag._id}}" class="pure-button pure-button-xsmall info-bg">{{tag.tag}}</a>
    </li>
    <li>
        <a href="/tag" class="pure-button pure-button-xsmall"><i class="fa fa-search"></i>更多</a>
    </li>
</ul> -->
<ul class="media-list">
     <li class="media" ng-repeat="article in articleList">
      <a class="media-object left" ng-href="{{'/'+article.author._id}}" ng-if="!global.isPocket">
                    <img class="img-small avatar" src="/avatar/steve.png" gen-src="{{article.author.avatar}}" style="height: 100%;width: 51px;">
                  </a>
        <div class="media-body" id="{{article._id}}">
            <div class="media-header">
                <a ng-href="{{'/'+article._id}}">
                   {{article.title}}</a>
                <i ng-show="article.zding" class="fa fa-hand-o-up" title="置顶"></i>
                <i ng-show="article.jing" class="fa fa-flag-o" title="精华"></i>
                <i class="fa fa-comments-o right hot hover-icon" title="评论" ng-show="!global.isPhone">{{article.comments}}</i>
            </div>
            <div class="media-content list-content" ng-if="parent.sumModel" gen-parse-md="article.content"></div>
            <div class="media-footer">
                <a ng-href="{{'/'+article.author._id}}">{{article.author.name}}</a>
                <i class="fa fa-clock-o" title="{{article.date | formatDate:true}}发布"> {{article.date | formatDate}}</i>
                <i class="fa fa-reply" title="{{article.lastTime | formatDate:true}}被回复" ng-if="article.lastTime && article.date!=article.lastTime"> {{article.lastTime | formatDate}}</i>
                <i class="fa fa-eye" title="点击" ng-show="article.visitors"> {{article.visitors}}</i>
                <a ng-repeat="tag in article.tagsList" ng-href="{{'/'+tag._id}}" class="pure-button pure-button-link">{{tag.tag}}</a>
            </div>
        </div>
    </li>
</ul>
